.saveOpenButton {
	border: 0.25vmin black solid;
	margin: 0.5vmin;
	padding: 0.5vmin;
	background-color: #ffffdd;
	border-radius: 2.5vmin;
}
#textInput {
	width: 95vw;
	height: 10vh;
}
#answerFormulaInput {
	width: 95vw;
	height: 5vh;
}